
<div class="container category-nav">

  <div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between category-nav-items ">
       <li>
        <%= link_to("All", root_path)%>
        </li>
      <% Category.all.each do |category| %> 
        <li>
        <%= link_to category.name, posts_path(category: category.name) %>
        </li>
      <% end %>
    </nav>
  </div>
  
</div>