<%= render "shared/top_nav" %>
<main role="main">         
    <section class="jumbotron text-center">
    <div class="container album py-5 bg-light">


    <h1>New Post</h1>

     <div class="col">
        <%= render "form" %>
        </div>
        
     </div>
  </section>
</main>

<%= render "shared/footer" %>