 @import "bootstrap";
 @import "font-awesome";


 body {
  padding-top: 3.5rem;
  font-family: 'Montserrat', sans-serif;
}


/*Nav Bar*/
.bg-dark {
   background-color: black;
   
}

a, a:visited {
  color: white !important;
  text-decoration: none;
  font-family: 'Playfair Display SC', serif;
  letter-spacing: 3px;
}

.nav-item   {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.navbar-brand {
  font-family: 'Homemade Apple', cursive;
}
/***************************/

/*home page*/
.background-image {
  background-image: url('P8140540.jpeg');
  background-size: cover;
  background-position:  center;
  background-attachment: fixed;
  height: 800px;
  
}

.display-5 {
  margin-top: 100px;
  font-family: 'Homemade Apple', cursive;
  
}

.btn, .btn:visited {
  background-color: black;
  color: white !important;
  text-decoration: none;
}

.col-md-4 {
margin-top: 20px;
}
/***************************/







/***************************/
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
/***************************/



/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


/* PORTFOLIO
-------------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* PORTFOLIO
-------------------------------------------------- */