
@import "bootstrap";
@import "font-awesome";   
@import "pages";
@import "posts";






 * {
  box-sizing: border-box;
}


 body {
  margin: 0;
  padding-top: 3.5rem;
  font-family: 'Montserrat', sans-serif;
}








