
@import "bootstrap";
@import "font-awesome";   
@import "pages";
@import "posts";






 * {
   margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


 body {
  margin: 0;
  padding-top: 3.5rem;
  font-family: 'Montserrat', sans-serif;

}


main {
    margin: auto;
    width: 100%;
    
}





