// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.



/*Nav Bar*/
.bg-dark {
    background-color: black;
 }
 
 .nav a, .nav a:visited {
   color: white !important;

   text-decoration: none;
   font-family: 'Playfair Display SC', serif;
   letter-spacing: 3px;
   padding: 10px;
 }

 .nav a:hover {
  background-color: lightgrey;
  border-radius: 25px;
  color:black;
  
}


 
 .nav-item   {
   padding-right: 10px;
   padding-left: 10px;
   padding-bottom: 10px;
 }
 
 .navbar-brand {
   font-family: 'Homemade Apple', cursive;
 }







 /***************************/
 
 /*home page*/
 .background-image {
   background-image: url('P8140540.jpeg');
   background-size: cover;
   background-position:  center;
   background-attachment: fixed;
   height: 800px;
 
 }
 
 .display-5 {
   margin-top: 100px;
   font-family: 'Homemade Apple', cursive;
 
 }
 
 .btn, .btn:visited {
   background-color: black;
   color: white !important;
   text-decoration: none;
 }
 
 .col-md-4 {
 margin-top: 20px;
 }
 /***************************/
 
 
 
 
 
 
 
 /***************************/
 .jumbotron {
   padding-top: 3rem;
   padding-bottom: 3rem;
   margin-bottom: 0;
   background-color: #fff;
 }
 @media (min-width: 768px) {
   .jumbotron {
     padding-top: 6rem;
     padding-bottom: 6rem;
   }
 }
 
 .jumbotron p:last-child {
   margin-bottom: 0;
 }
 
 .jumbotron h1 {
   font-weight: 300;
 }
 
 .jumbotron .container {
   max-width: 40rem;
 }
 
 footer {
   padding-top: 3rem;
   padding-bottom: 3rem;
 }
 
 footer p {
   margin-bottom: .25rem;
 }
 /***************************/
 
 
 /* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  



  